<form [formGroup]="shiftForm">
  <label for="date">Date: </label>
  <input class="form-control" formControlName="date" id="date" type="date">

  <div *ngIf="date?.errors?.['required'] && (date?.dirty || date?.touched)" class="alert alert-danger">
    <p>Date is required</p>
  </div>
  <div *ngIf="date?.errors?.['notInFuture'] && (date?.dirty || date?.touched)" class="alert alert-danger">
    <p>Date must be in past</p>
  </div>
  <div *ngIf="date?.errors?.['dateAlreadyUsed'] && (date?.dirty || date?.touched)" class="alert alert-danger">
    <p>Shift with the date {{date?.value}} already exists</p>
  </div>

  <label for="runNumber">Run Number:</label>
  <select class="form-control" formControlName="runNumber" id="runNumber">
    <option *ngFor="let run of this.runs" value="{{run.number}}" selected="{{runs[0].number}}">{{run.number}}</option>
  </select>

  <div *ngIf="runNumber?.errors?.['required'] && (runNumber?.dirty || runNumber?.touched)">
    <p>Run Number is Required.</p>
  </div>


  <div formGroupName="timeData" >
    <h2>Time Data:</h2>

    <label for="startTime">Start Time:</label>
    <input class="form-control" formControlName="startTime" id="startTime" type="time">

    <div *ngIf="startTime?.errors?.['required'] && (startTime?.dirty || startTime?.touched)" class="alert alert-danger">
      <p>Start Time is Required.</p>
    </div>

    <label for="endTime">End Time:</label>
    <input class="form-control" formControlName="endTime" id="endTime" type="time">

    <div *ngIf="endTime?.errors?.['required'] && (endTime?.dirty || endTime?.touched)" class="alert alert-danger">
      <p>End Time is Required.</p>
    </div>

    <label for="shiftDuration">Shift Duration</label>
    <input class="form-control" formControlName="shiftDuration" id="shiftDuration" type="time" >


    <label for="driveTime">Drive Time</label>
    <input class="form-control" formControlName="driveTime" id="driveTime" type="time">

    <div *ngIf="driveTime?.errors?.['required'] && (driveTime?.dirty || driveTime?.touched)" class="alert alert-danger">
      <p>Drive Time is Required.</p>
    </div>

    <label for="workTime">Work Time</label>
    <input class="form-control" formControlName="workTime" id="workTime" type="time">

    <div *ngIf="workTime?.errors?.['required'] && (workTime?.dirty || workTime?.touched)" class="alert alert-danger">
      <p>Working Time is Required.</p>
    </div>

    <label for="otherWorkTime">Other Work Time</label>
    <input class="form-control" formControlName="otherWorkTime" id="otherWorkTime" type="time">

    <div *ngIf="otherWorkTime?.errors?.['required'] && (otherWorkTime?.dirty || otherWorkTime?.touched)" class="alert alert-danger">
      <p>Other Work / POA Time is Required.</p>
    </div>

    <div *ngIf="timeData?.errors?.['isTimeValid'] && (timeData?.dirty || timeData?.touched)" class="alert alert-danger">
      <p>Drive Time, Work Time and Other Work must equal Shift Duration.</p>
    </div>
  </div>


  <button class="btn btn-success" [disabled]="!shiftForm.valid" (click)="this.onSubmitPress()" type="button" >Confirm</button>
  <button class="btn btn-danger" type="button" (click)="goBack()" >Cancel </button>
</form>
<p>Form Status: {{shiftForm.status}}</p>

<button (click)="onSubmitPress()">click</button>
