<nav class="nav">
  <div class="nav__leftDiv">
    <a href="#" class="nav-item is-active">Analysis</a>
    <a routerLink="/shifts" class="nav-item">Shifts</a>

  </div>
  <div class="nav__centreDiv">
    <h1>Shift Tracker</h1>
  </div>
  <div class="nav__rightDiv">
    <form class="d-flex">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/auth/register']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Register</a>
        </li>
      </ul>
    </form>
</div>
</nav>

