<div class="inner-container">
<div *ngIf="shifts" class="table-container">
<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center" >Date</th>
      <th class="text-center">Run #</th>
      <th class="text-center">Start Time</th>
      <th class="text-center">Finish Time</th>
    </tr>
  </thead>
  <tbody>

        <tr class="clickable" *ngFor="let shift of shifts" (click)="goToDetail(shift)">
        <td >{{shift?.date | date:'dd/MM/yyyy'}}</td>
        <td>{{shift?.run?.number}}</td>
        <td>{{shift?.startTime}}</td>
        <td>{{shift?.endTime}}
        <td></td>

        <a type="button" routerLink="{{shift?.id}}/edit" (click)="this.onSelectFunction(shift, 'edit')" class="cBtn cBtn-Edit"><i class="fa-regular fa-pen-to-square"></i></a>
        <a type="button" (click)="this.onSelectFunction(shift, 'delete')"  class="cBtn cBtn-Del"><i class="fa-regular fa-square-minus"></i></a>
       </tr>





  </tbody>
</table>
  <button class="btn btn-primary">Add Shift</button>
</div>

<div *ngIf="!shifts">
  Loading...
</div>
</div>

