<div class="run-selector-container" *ngIf="runs$ | async as runs">
  <div class="run-selector">
  <label for="run">Run Number</label>

  <select class="form-control" [(ngModel)]="selectedRun" (ngModelChange)="onSelectedRunChange($event)" id="run">
    <option  hidden  disabled selected>Choose a Run</option>
    <option  *ngFor="let run of runs"  [ngValue]="run">{{run.number}} | {{run.location}}</option>
  </select>
</div>
  <div class="run-add-btn">
    <button class="btn btn-primary" (click)="openAddRunModal()" ><i class="fa-regular fa-plus"></i></button>
  </div>
</div>


