html{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 0.6rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.7rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 0.9rem;
  }
}
@include media-breakpoint-up(xl) {
  html {
    font-size: 1rem;
  }
}
