<div class="inner-container">
  <div *ngIf="shifts" class="table-container">
    <table class="table table-hover" [(ngModel)]="shifts">
      <thead>
      <tr>
        <th class="text-center" >Date</th>
        <th class="text-center">Run #</th>
        <th class="text-center">Start Time</th>
        <th class="text-center">Finish Time</th>
      </tr>
      </thead>
      <tbody>

      <tr class="clickable" *ngFor="let shift of shifts" routerLink="detail/{{shift.id}}" >
        <td >{{shift.date | date:'dd/MM/yyyy'}}</td>
        <td>{{shift.run.number}}</td>
        <td>{{shift.startTime | timeFormatForUi }}</td>
        <td>{{shift.endTime | timeFormatForUi}}</td>

        <td></td>

        <a type="button" routerLink="edit/{{shift.id}}"   class="cBtn cBtn-Edit"><i class="fa-regular fa-pen-to-square"></i></a>
        <a type="button"  (click)="this.onDeleteConfirm(shift)"  class="cBtn cBtn-Del"><i class="fa-regular fa-square-minus"></i></a>
      </tr>


      </tbody>
    </table>
  </div>


</div>
