<section class="landing-page">
  <header class="header">

    <h1 class="heading-primary">
      <span class="heading-primary--main">
        Transport Shift Tracker
      </span>
      <span class="heading-primary--sub">
        Making Your Week Easier
      </span>
    </h1>
  </header>
  <div class="home-page-container">
    <div class="home-buttons">
      <button class="cBtn cBtn-primary cBtn-large" routerLink="/auth/login">Login</button>
      <button class="cBtn cBtn-primary cBtn-large" routerLink="/auth/register">Register</button>

    </div>
   </div>
</section>

