.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 99%;
  margin: 0.5% auto;
}

main,  {
  width: 100%;
  flex: 1 0 auto;
}

header, footer {
  width: 100%;
  flex: 0 0 auto;
}


