/* You can add global styles to this file, and also import other style files */
// 1. Functions first (So colors, SVGs, calc can be overrided

@import "vendors/bootstrap-funcs";

// 2. Overrides
@import "utilities/utilities-dir";

// 3. Rest of boostrap and vendors
@import "vendors/vendors-dir";

// 4. Custom Scss
@import "base/base-dir";
@import "components/components-dir";
@import "layout/layout-dir";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
