<div class="card" style="width: 18rem;">
 <div class="card-header">
   <h2>{{this.dateString}}</h2>
   <h5 class="card-title">Run {{shift.run.number}}</h5>
 </div>
 <div class="card-body">
<!--    <p>Start: {{formatTime(shift.startTime)}}</p>-->
<!--    <p>Finish: {{formatTime(shift.endTime)}}</p>-->
<!--    <p>Duration: {{formatTimeToHours(shift.shiftDuration)}}</p>-->
<!--    <H6>Data:</H6>-->
<!--    <p>Drive Time: {{formatTimeToHours(shift.driveTime)}}</p>-->
<!--    <p>Work Time: {{formatTimeToHours(shift.workTime)}}</p>-->
<!--    <p>Other Work: {{formatTimeToHours(shift.otherWorkTime)}}</p>-->


    <a (click)="goBack()" class="btn btn-primary">Back</a>
   <a type="button" routerLink="/shifts/{{shift.id}}/edit" class="btn btn-info">Edit</a>
    <a type="button" (click)="deleteConfirm()" class="btn btn-danger">Delete</a>
 </div>

</div>
