<form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
  <label for="date">Date: </label>
  <input id="date" class="form-control" type="date" formControlName="date"  >

  <div *ngIf="date?.errors?.['required'] && (date?.dirty || date?.touched)" class="alert alert-danger">
    <p>Date is required</p>
  </div>
  <div *ngIf="date?.errors?.['notInFuture'] && (date?.dirty || date?.touched)" class="alert alert-danger">
    <p>Date must be in past</p>
  </div>
<!--  <div *ngIf="date?.errors?.['dateAlreadyUsed'] && (date?.dirty || date?.touched)" class="alert alert-danger">-->
<!--    <p>Shift with the date {{date?.value}} already exists</p>-->
<!--  </div>-->

  <label for="runNumber">Run Number:</label>
  <select id="runNumber" class="form-control" formControlName="runNumber" >
    <option *ngFor="let run of this.runs" [selected]="this.shift.run.number">{{run.number}}</option>
  </select>
  <div formGroupName="timeData">
  <h2>Time Data:</h2>
    <div *ngIf="timeData?.errors?.['ShiftTimesEqualShiftLength']" class="alert alert-danger">
        <p>Times do not equal shift length</p>

    </div>
  <label for="startTime">Start Time:</label>
  <input id="startTime" class="form-control" type="time" formControlName="startTime" >

  <label for="endTime">End Time:</label>
  <input id="endTime" class="form-control" type="time" formControlName="endTime" >

  <label for="driveTime">Drive Time</label>
  <input id="driveTime" class="form-control" type="time" formControlName="driveTime" >

  <label for="workTime">Work Time</label>
  <input id="workTime" class="form-control" type="time" formControlName="workTime" >

  <label for="otherWorkTime">Other Work Time</label>
  <input id="otherWorkTime" class="form-control" type="time" formControlName="otherWorkTime" >
  </div>
  <button type="submit" [disabled]="!shiftForm.valid">Confirm</button>
</form>

<p>Form Status: {{shiftForm.status}}</p>

