<form #editForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="shift$ | async as shift">
<div class="form-group">
  <label for="date">Date: </label>
  <input
    type="date"
    class="form-control"
    id="date"
    [(ngModel)]="shift.date "
    [ngModel]="shift.date | date: 'yyyy-MM-dd'"
    name="date"
    #date="ngModel"
    required >
  <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
    Date is required
  </div>


  <label for="runNumber">Run #:</label>
  <select class="form-control" id="runNumber" [(ngModel)]="shift.run.number" name="runNumber" required>
    <option *ngFor="let run of runs" (click)="this.selectedRun = run">
      {{run.number}}
    </option>
  </select>



    <label for="ShiftFormStartTimeInput" >Shift Start</label>
    <input
      type="time"
      class="form-control"
      id="ShiftFormStartTimeInput"
      [(ngModel)]="shift.startTime"
      name="startTime"
      value="{{shift.startTime}}"
    required>

    <label for="ShiftFormEndTimeInput" >Shift Finish</label>
    <input
      type="time"
      class="form-control"
      id="ShiftFormEndTimeInput"
      [(ngModel)]="shift.endTime"
      name="endTime"
      value="{{shift.endTime}}"
    required>

    <label for="ShiftFormDriveTimeInput" >Drive Time</label>
    <input
      type="time"
      class="form-control"
      id="ShiftFormDriveTimeInput"
      [(ngModel)]="shift.driveTime"
      name="driveTime"
      value="{{shift.driveTime}}"
    required>

    <label for="ShiftFormWorkTimeInput" >Work Time</label>
    <input
      type="time"
      class="form-control"
      id="ShiftFormWorkTimeInput"
      [(ngModel)]="shift.workTime"
      name="workTime"
      value="{{shift.workTime}}"
    required>

    <label for="ShiftFormOtherWorkInput" >Other Work</label>
    <input
      type="time"
      class="form-control"
      id="ShiftFormOtherWorkInput"
      [(ngModel)]="shift.otherWorkTime"
      name="otherWorkTime"
      value="{{shift.otherWorkTime}}"
    required>

</div>

  <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Confirm</button>

</form>
