<ul class="nav nav-tabs" id="shopTabs" role="tablist">
  <li class="nav-item" role="tab">
    <button class="nav-link active"
            id="monday-tab" data-bs-toggle="tab" data-bs-target="#monday"
            aria-controls="monday" aria-selected="true">Monday
    </button>
  <li class="nav-item" role="tab">
    <button class="nav-link"
            id="tuesday-tab" data-bs-toggle="tab" data-bs-target="#tuesday"
            aria-controls="tuesday" aria-selected="true">Tuesday
    </button>
  </li>
  <li class="nav-item" role="tab">
    <button class="nav-link"
            id="wednesday-tab" data-bs-toggle="tab" data-bs-target="#wednesday"
            aria-controls="wednesday" aria-selected="true">Wednesday
    </button>
  </li>
  <li class="nav-item" role="tab">
    <button class="nav-link"
            id="thursday-tab" data-bs-toggle="tab" data-bs-target="#thursday"
            aria-controls="thursday" aria-selected="true">Thursday
    </button>
  </li>
  <li class="nav-item" role="tab">
    <button class="nav-link"
            id="friday-tab" data-bs-toggle="tab" data-bs-target="#friday"
            aria-controls="friday" aria-selected="true">Friday
    </button>
  </li>
  <li class="nav-item" role="tab">
    <button class="nav-link "
            id="saturday-tab" data-bs-toggle="tab" data-bs-target="#saturday"
            aria-controls="saturday" aria-selected="true">Saturday
    </button>
  </li>
  <li class="nav-item" role="tab">
    <button class="nav-link "
            id="sunday-tab" data-bs-toggle="tab" data-bs-target="#sunday"
            aria-controls="sunday" aria-selected="true">Sunday
    </button>
  </li>
</ul>
<ng-container *ngIf="selectedRun$ | async as run">
<div class="tab-content" id="shopsContent">
  <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
  <app-daily-route-shop-list   [dayOfWeek]="1"  ></app-daily-route-shop-list>
  </div>
  <div class="tab-pane fade"  id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
  <app-daily-route-shop-list [dayOfWeek]="2" ></app-daily-route-shop-list>
  </div>
  <div class="tab-pane fade" id="wednesday" role="tabpanel" aria-labelledby="wednesday-tab">
  <app-daily-route-shop-list [dayOfWeek]="3" ></app-daily-route-shop-list>
  </div>
  <div class="tab-pane fade" id="thursday" role="tabpanel" aria-labelledby="thursday-tab">
  <app-daily-route-shop-list  [dayOfWeek]="4"></app-daily-route-shop-list>
  </div>
  <div class="tab-pane fade" id="friday" role="tabpanel" aria-labelledby="friday-tab">
  <app-daily-route-shop-list  [dayOfWeek]="5" ></app-daily-route-shop-list>
  </div>
  <div class="tab-pane fade" id="saturday" role="tabpanel" aria-labelledby="saturday-tab">
  <app-daily-route-shop-list  [dayOfWeek]="6" ></app-daily-route-shop-list>
  </div>
  <div class="tab-pane fade" id="sunday" role="tabpanel" aria-labelledby="sunday-tab">
  <app-daily-route-shop-list  [dayOfWeek]="0" ></app-daily-route-shop-list>
  </div>

</div>
</ng-container>
