.cBtn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;

  &.cBtn-primary{
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: $cPrimary;

    &:hover {
      transform: scale(1.05);

      transition: all 0.2s ease-in-out;
    }
  }


  &.cBtn-small {
    width: 5em;
    height: 2em;
  }

  &.cBtn-regular {

    width: 10em;
    height: 3em;
  }

  &.cBtn-large {
    width: 15em;
    height: 4em;
  }

}


