.cBtn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: white;
  transition: ease-in-out 0.2s;

  &.cBtn-Del{
    color: red;
  }
  &.cBtn-Edit{
    color: blue;

  }

  &:hover {
    transform: scale(1.35);
  }

  &:active {

    transform: scale(0.8);
  }
}


